{% extends 'templ1.html' %}
{%load static%}
{%block body%}
{%block links%}
{%endblock%}
<div class="mx-6 mt-4">
    <a href="#"
        class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow sm:flex-row  hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-900">
        <img class="object-cover w-80 h-72 rounded-t-lg sm:h-96 sm:h-72 sm:w-5/12 sm:rounded-none sm:rounded-l-lg object-contain"
            src="{%static 'img.avif'%}" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology
                acquisitions 2021</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology
                acquisitions of 2021 so far, in reverse chronological order.</p>
        </div>
    </a>
</div>

<div class="mx-6 mt-4 border-gray-700">
    <h1 class="font-bold text-2xl text-white">Latest & Trending</h1>
    <div class="mt-4 flex flex-wrap justify-around">
{%for i in item %}
        <div
            class="w-64 h-2/3 max-w-sm bg-white border border-gray-200 rounded-2xl shadow dark:bg-gray-800 dark:border-gray-700 items-center justify-around my-3">
            
                <img class="p-4 h-64 w-64 rounded-3xl object-fill"  src="/media/{{i.movie_thumb}}" alt="product image" />
            
            <div class="px-5 pb-5">
               
                    <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">{{i.movie_name}}</h5>
              
                
                <div class="flex items-center justify-between mt-5">
                    <a href="/showmovie/whatchfullmovie/{{i.movie_id}}"
                        class="text-white bg-gray-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-gray-700 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Watch Now</a>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{% block bodyscript %}
{% endblock %}
{%endblock%}